body{
    background-color: #B8FFF9;
  }
  hr{
    border-style:dotted none none;
    border-color: grey;
    border-width: 10px;
    width:20%;
    
  }
  h1{
    color: #42C2FF;
  }
  h3{
    color: #516BEB;
  }